<!DOCTYPE html>
<html>
  <head>
    <title>Hello</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Black+Han+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Faster+One|Nanum+Brush+Script|Nanum+Pen+Script|Press+Start+2P|Quattrocento&amp;subset=korean,latin-ext" rel="stylesheet">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
